
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body iframe {
    margin-top: 6rem;
    justify-self: center;
    display: block;
}

header {
    margin-top: 4rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 15px;
    background: #fa75e600;
    border-radius: 50px;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
header:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease;
    cursor: pointer;
    color: rgba(24, 24, 24, 0.679);
}

header p {
    font-size: 30px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 5px 8px 7px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}
.avatar:hover {
    transform: scale(1.4);
    transition: all 0.3s ease;
}

.main-menu {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}

.menu-btn {
    background-color: #2eb4e500;
    border: none;
    padding: 10px 20px;
    font-size: large;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 99;
}

.modal {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #fa75af45;
    background: linear-gradient(72deg, rgba(117, 206, 250, 0.9) 0%, rgba(148, 187, 233, 0.9) 100%);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    display: none;
    z-index: 100;
    max-width: 400px;
    text-align: center;
}

#modal-amigos img {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
    transition: all 0.8s ease;
}

#modal-amigos img:hover {
    transform: rotate(360deg);
    transition: all 0.8s ease;
}

#modal-amigos a {
    text-decoration: none;
    color: #035fb6;
}
#modal-amigos p {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
}
#modal-amigos p:hover {
    text-shadow: 2px 25px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.6s ease;
}

#modal-youtube iframe {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
}
#modal-youtube p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(21, 21, 21, 0.5);
}

.social-btn {
    background-color: #2eb4e500;
    border: none;
    padding: 20px 30px;
    margin: 15px;
    border-radius: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-btn:hover {
    color: aliceblue;
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
}

footer {
    text-align: center;
    padding: 50px;
    font-size: 14px;
    color: #55555576;
}
footer a {
    color: #33333351;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}

/* Fondo animado de sol */

body {
    background:#2EB5E5 ;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
}

.sun { 
    position: absolute;
	top:10%;
	left:75px;
	right:0;
	bottom:0;
	width:70px;
	height:70px;
	border-radius:50%;	
	background:white;
	opacity:0.9;			
	box-shadow: 0px 0px 40px 15px white;  
}

.ray_box {
    position: absolute;
    margin: auto;
	top:0px;
	left:0;
	right:0;
	bottom:0;	
    width:70px;  
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
}
.ray {  
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.1;
}
.ray1 {    
    height:170px;
    width:30px;
    -webkit-transform: rotate(180deg);
    transform: 180deg;
    top:-175px;
    left: 15px;
}
.ray2 {
    height:100px;
    width:8px;
    -webkit-transform: rotate(220deg);
    transform: 220deg;
    top:-90px;
    left: 75px;
}
.ray3 {
    height:170px;
    width:50px;
    -webkit-transform: rotate(250deg);
    transform: 250deg;
    top:-80px;
    left: 100px;
}
.ray4 {
    height:120px;
    width:14px;
    -webkit-transform: rotate(305deg);
    transform: 305deg;
    top:30px;
    left: 100px;
}
.ray5 {
    height:140px;
    width:30px;
    -webkit-transform: rotate(-15deg);
    transform: -15deg;
    top:60px;
    left: 40px;
}
.ray6 {
    height:90px;
    width:50px;
    -webkit-transform: rotate(30deg);
    transform: 30deg;
    top:60px;
    left: -40px;
}
.ray7 {
    height:180px;
    width:10px;
    -webkit-transform: rotate(70deg);
    transform: 70deg;
    top:-35px;
    left: -40px;
}
.ray8 {
    height:120px;
    width:30px;
    -webkit-transform: rotate(100deg);
    transform: 100deg;
    top:-45px;
    left:-90px;
}
.ray9 {
    height:80px;
    width:10px;
    -webkit-transform: rotate(120deg);
    transform: 120deg;
    top:-65px;
    left:-60px;
}
.ray10 {
    height:190px;
    width:23px;
    -webkit-transform: rotate(150deg);
    transform: 150deg;
    top:-185px;
    left: -60px;
}

@keyframes ray_anim {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.magic-buttons {
    display: grid;
    justify-content: center;
    gap: 40px;
    margin: 60px 0;
}

.glow-btn {
    position: relative;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #2eb4e500;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    z-index: 1;
}

@keyframes float {
    0% {
    transform: translateY(0px);
    }
    50% {
    transform: translateY(-15px);
    }
    100% {
    transform: translateY(0px);
    }
}

.glow-btn {
    animation: float 4s ease-in-out infinite;
}

.magic-buttons button:nth-child(1) {
    animation-delay: 0s;
}
.magic-buttons button:nth-child(2) {
    animation-delay: 2s;
}

.glow-btn::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 0;
}

.glow-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.glow-btn:active {
    transform: scale(0.98);
}

.glow-btn::after {
    content: "";
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    pointer-events: none;
    background-size: 20px 20px;
    z-index: 0;
    border-radius: 50px;
    filter: blur(1px);
}

#salasboton {
    width: 300px;
    justify-self: center;
}

/* sticker Animation */

div#boat {
    position: absolute;
    bottom: 45%;
    right: 90%;
    width: 80%;
    animation: 120s ease-in-out infinite boatMove;
}

div#boat img {
    display: table;
    position: relative;
    margin: auto;
}

@keyframes boatMove {
    from {
    transform: translateX(0);
    opacity: 1;
    }
    50% {
    opacity: 1;
    }
    80% {
    opacity: 0.5;
    }
    to {
    transform: translateX(100vw);
    opacity: 0;
    }
}
